html,
body {
  background: linear-gradient(to right, #ffe000, #799f0c);
  font-family: cursive;
}

h1 {
  color: rgb(40, 70, 202);
  font-family: cursive;
  margin: 0;
  text-align: center;
}

.shadow {
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.rounded {
  border-radius: 0.25rem;
}

.poll-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 400px;
  margin-top: 40px;
}

.poll-list {
  background: #fff;
  display: inline-block;
  /* margin-top: 1rem; */
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.poll-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #d3d3d3;
}

.poll-item:hover {
  background: #f3f3f3;
}

.poll-content h2 {
  margin-top: 0px;
  font-size: 1rem;
  margin-bottom: 0px;
}

.poll-content p {
  color: #5e5e5e;
  margin: 0px;
}

.poll-item:last-child {
  border-bottom: none;
}

.poll-action {
  padding: 1rem;
  background: rgb(68, 87, 230);
  display: flex;
  gap: 1rem;
  margin-top: 40px;
}

.input {
  padding: 0.75rem;
  border: none;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  padding: 0.75rem 1.5rem;
  background: white;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background: rgb(113 130 255);
  color: white;
}

.btn-primary:hover {
  background: rgb(124, 140, 255);
}

.btn-primary:active {
  background: rgb(99, 115, 240);
}

.poll-content.active {
  text-decoration: line-through;
}

.text {
  /* display: none; */
}
.poll-item{
  position: relative;
}
.delete{
  position: absolute;
  left: 80%;
  border-radius: 4px;
  /* color: crimson; */
}
.clear{
  background-color: rgb(161, 173, 184);
  height: 55px;
  display: flex;
  justify-content: space-between;
}
.Clear-All{
  margin-top: 15px;
  margin-right: 24px;
  height: 22px;
  background-color: rgb(211, 193, 181);
  /* color: rgb(172, 5, 38); */
  border-radius: 5px;
}
.condition{
  margin-left:24px ;
  margin-top: 15px;
}